body {
  -ms-overflow-style: none;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

li {
  list-style: none;
}

input {
  outline: none;
}

.blind {
  display: none;
}

.article {
  padding: 30px 70px;

  .topic_main {
    font-size: 50px;
    font-weight: bold;
    color: rgb(60, 64, 105);
    margin-bottom: 30px;
  }

  .topic_article {
    background: rgba(60, 64, 105, 0.527);
    border-radius: 20px;
    padding: 30px 50px;
  }

  .topic {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;

    .topic_list {
      margin: 20px 40px;
      background: rgb(60, 64, 105);
      border-radius: 20px;
      padding: 20px;
      color: white;

      &:first-child {
        margin: 20px 40px 20px 10px;
      }

      &:last-child {
        margin: 20px 10px 20px 40px;
      }

      .topic_header {
        background: rgb(255, 255, 255);
        color: rgb(60, 64, 105);
        font-size: 25px;
        border-radius: 10px;
        padding: 4px 10px;
        font-weight: bold;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .topic_header_edit {
          color: rgb(60, 64, 105);
          margin: 3px 0px 0px 10px;
        }

        .topic_header_input {
          font-size: 25px;
          padding: 5px 10px;
          border: 3px solid rgb(60, 64, 105);
          border-radius: 10px;
          color: rgb(60, 64, 105);
        }

        .topic_header_check {
          color: rgb(60, 64, 105);
          margin: 10px 0px 0px 10px;
        }
      }

      .pad_true {
        padding: 10px 20px;
      }

      .topic_li {
        height: 300px;
        overflow-y: scroll;

        .topic_item {
          cursor: pointer;
          width: 200px;
        }

        .on {
          text-decoration: line-through;
          font-weight: bold;
        }
      }
    }
  }
}
