.article {
  .header_article {
    display: flex;
    flex-direction: row;

    .header_main {
      font-size: 3.2em;
      font-weight: bold;
      margin-right: 150px;
    }

    .header_li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: 2.4em;
      font-weight: bold;
      width: 30%;
    }
  }
}
